<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="diy.net.menzap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        tools:replace="android:theme"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MenzapTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TabsActivity"
            android:label="@string/title_activity_icon_tabs"
            android:parentActivityName=".activity.MainActivity" />

        <activity
            android:name=".activity.EventDetailActivity"
            android:parentActivityName=".activity.TabsActivity" />

        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.EventCreateActivity"
            android:parentActivityName=".activity.TabsActivity" />
        <activity
            android:name=".activity.MenuCreateActivity"
            android:parentActivityName=".activity.TabsActivity" />
        <activity android:name=".activity.LoginActivity" />

        <service android:name=".service.AppLibService" />

        <service android:name="de.tum.in.cm.android.eddystonelib.EddystoneService"
            android:enabled="true" />

        <receiver
            android:name=".receiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>